@model Jobs_Offers_Web.Models.ApplyForJob

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Delete</h2>

<h3>هل أنت متأكد من حذف هذه الوظيفة ؟</h3>
<div>
س
    <hr />
    <dl class="dl-horizontal">
        <dt>
            عنوان الوظيفة
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.JobTitle)
        </dd>

        <dt>
            نص الرسالة
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            تاريخ الإرسال
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("العوده إلي القائمة", "Index")
        </div>
    }
</div>
